
<table id="list">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% store.forEach(function(s) { %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.address %></td>
        <td><%= s.open %></td>
        <td><a href="/stores/<%= s._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
