<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Contact Us</h1>
      <h3>We'd Love To Hear Your Feedback!</h3> 
    <form action="/contactus" method="POST">
        <label>Full Name:</label>
    <input type="text" name="fullname">
    
    </form>
    <form action="/contactus" method="POST">
        <label>Email:</label>
        <input type="text" name="email">
    </form>
    <form action="/contactus" method="POST">
        <label>Message:</label>
        <input type="text" name="message">
    </form>
    <button type="submit">Submit</button>
  </body>
</html>
